@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Roboto+Mono:wght@300&display=swap');

#content
{
    max-width : 1600px;
    margin: 0 auto;
}

nav a, #hero-msg h1, #hero-msg h4, .button-box, main section
{
    text-align: center;
}

#background
{
    height: 725px;
}

body
{
    background-color: #fff; 
    font-family: 'Roboto Mono', monospace;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header
{
    background-color: #003049;
}
nav a
{
    color: #fff;
    text-decoration: none;
    padding: 35px;
}
nav a:hover
{
    background-color: #fff;
    color: #003049;
}
main section img
{
    box-sizing: border-box;
}
.book, .join
{
    background-color: #FCBF49;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover
{
    background-color: #D62828;
    color: #fff;
}
.home-title
{
    color: #D62828;
    font-family: 'Bruno Ace SC', cursive;
    font-size: 2em;
    margin-top: 10px;
}
h2
{
    margin: 0;
}
h4
{
    color: #003049;
}
#background
{
    background-color: #003049;
}
.msg
{
    background-color: #003049;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2
{
    color: #FCBF49;
    font-family: 'Bruno Ace SC', cursive;
}
.msg p
{
    color: #fff;
    font-size: .8em;
    padding-bottom: 15px;
}
footer
{
    background-color: #003049;
    color: #FCBF49;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a
{
    color: #fff;
    text-decoration: none;
}
footer a:hover
{
    color: #FCBF49;
    text-decoration: underline;
}
footer p
{
    font-size: 1.2em;
    text-decoration: underline;
}
footer .social img
{
    padding-top: 15px;    
}
.logo, .icon
{
    width: 80px;
}
.icon
{
    padding-top: 10px;
}
#hero-img
{
    width: 100%;
}
#logo_link
{
    padding-top: 5px;
}
.rivers-card, .camping-card, .rapids-card
{
    margin: 200px 0;
}
.card-img
{
    border: 10px solid black;
}